/*Home section*/

.imgRedonda {
    border-radius:160px;
    border:4px dotted #008083;
}


.imgRedonda:hover {
    border:4px dashed #008083;
}

.txt-description{
    padding-top:50px
}

@media (max-width: 767px) {
.txt-description{
    padding-top:0px;
}
}

#home span{
    color:#FF3860;
}


/*Media Queries experience section*/

@media screen and (max-width: 1402px) {
  #experience .tile .title {
   font-size: 1.3rem;
  }
}
	
@media screen and (max-width: 1402px) {
  #experience .tile .subtitle {
   font-size: 1.2rem;
  }	  
}
	
/*Education*/
#education .box:hover ul {
    font-weight: bold;
}
	
/*Skills*/
	
#skills .content.column {
	border: 3px dotted;
}

#skills .content.column:hover {
	border: solid;
}
	
#skills h1.title.is-1 {
    padding-bottom: 25px;
}

@media screen and (max-width: 750px) {
#tech .is-64x64{
	    height: 32px;
    	width: 32px;
}
}

/*portfolio*/

#portfolio h1.title.is-1 {
    padding-bottom: 25px;
}

#portfolio img:hover {
    box-shadow: 4px 7px 19px 10px rgba(221,221,222,0.5);
	opacity: 0.9;
}

#portfolio img {
    display: block;
    margin: auto;
}

#portfolio article.tile.is-child.notification {
	background-color: #F7F7F7;
}


/*footer*/
.footer{
	border-top: 3px dotted #dadada;
	padding-bottom: 3rem;
}

/*Animation rainbow*/

.bd-rainbow {
  -webkit-animation: rainbow 8s ease infinite;
          animation: rainbow 8s ease infinite;
  background-image: linear-gradient(124deg, #ff470f, #ff3860, #b86bff, #3273dc);
  background-size: 800% 800%;
}

.hero.bd-is-love .title,
.hero.bd-is-love .subtitle {
  color: white;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 1% 80%;
  }
  50% {
    background-position: 99% 20%;
  }
  100% {
    background-position: 1% 80%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 1% 80%;
  }
  50% {
    background-position: 99% 20%;
  }
  100% {
    background-position: 1% 80%;
  }
}
